<template>
  <svg viewBox="-12 0 250 250">
    <g stroke="none" fill-rule="nonzero">
      <path
        d="M80.73 64.42c17.42 12.08 30.42 26.84 32.9 37.38-10.76 1.4-29.2-5.58-46.67-17.66-17.47-12.09-30.5-26.88-32.99-37.44 10.76-1.4 29.2 5.58 46.67 17.66l.09.06z"
        class="fill-current text-primary"
      />
      <path
        d="M175.47 131.76c0-18.51-14.9-33.41-33.4-33.41-18.51 0-33.41 14.9-33.41 33.41 0 18.5 14.9 33.4 33.41 33.4 18.5 0 33.4-14.9 33.4-33.4z"
        class="fill-current text-blue-200"
      />
      <path
        d="M128.4 42.45c6.95 20.03 8.73 39.62 4.52 49.6-9.52-5.22-20.29-21.74-27.27-41.8-6.97-20.06-8.77-39.69-4.55-49.69 9.51 5.22 20.29 21.73 27.26 41.79zm82.63 95.39c3.99-3.72 9.09-4.72 11.42-2.24 2.33 2.49.99 7.54-3 11.27l-59.26 55.5-8.44-9.01 59.28-55.52z"
        class="fill-current text-primary"
      />
      <path
        d="M124.37 203.57a15.5 15.5 0 0 0 1.26 1.55c.34.3.7.57 1.08.81a8.8 8.8 0 0 0 8.86.37c1.19-.64 2.23-1.54 3.02-2.65a9.2 9.2 0 0 1 5.28-5.16c4.74-1.78 10.03.61 11.81 5.35.86 2.27.78 4.8-.22 7.01-1.01 2.22-2.85 3.95-5.12 4.8-.39.15-.79.27-1.19.36-2.93 1.25-6.53 1.83-10.2 1.66-4.32-.2-8.41-1.42-11.39-3.4-2.97-1.97-4.59-4.54-4.49-7.14a6.3 6.3 0 0 1 .64-2.47c.12-.36.31-.71.55-1.05l.04.05.07-.09z"
        class="fill-current text-light"
      />
    </g>
    <path
      d="M143.43 235c-11.46 7.49-22.93 14.98-33.12 9.94s-19.09-22.59-27.85-36.99c-8.76-14.39-17.37-25.61-26.93-23.96-9.55 1.66-20.03 16.18-24.39 10.6-4.36-5.59-2.59-31.29-5.46-40.43-2.88-9.13-10.4-1.69-14.86-5.18-4.45-3.49-5.83-17.91-7.22-32.33"
      stroke-linejoin="bevel"
      fill="none"
      stroke-width="7.19"
      class="stroke-current text-primary"
    />
    <path
      d="M150.4 235.1c0-3.98-3.2-7.18-7.17-7.18-3.98 0-7.18 3.2-7.18 7.18 0 3.97 3.2 7.17 7.18 7.17 3.97 0 7.17-3.2 7.17-7.17zm14.47-103.34c0-12.64-10.17-22.81-22.81-22.81s-22.81 10.17-22.81 22.81 10.17 22.81 22.81 22.81 22.81-10.17 22.81-22.81z"
      stroke="none"
      fill-rule="nonzero"
      class="fill-current text-light"
    />
  </svg>
</template>
