<template>
  <div
    class="rounded m-2 flex items-center focus-within:text-primary"
    :class="flexDirection"
  >
    <label :for="name" class="p-1 pb-0" :class="errorText">
      <slot></slot>
    </label>
    <input
      class="border focus:border-primary text-dark bg-white rounded py-1 px-4"
      :class="[width, errorBorder]"
      :type="type"
      :name="name"
      :id="name"
      :required="required"
      :autofocus="autofocus"
      :minlength="minLength"
      :maxlength="maxLength"
      :min="minValue"
      :max="maxValue"
      :value="value"
      @input="inputHandler"
    />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "InputText",

  props: {
    name: {
      type: String,
      default: "input",
      required: true
    },
    required: {
      type: Boolean,
      default: false
    },
    autofocus: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: "text"
    },
    minLength: {
      type: Number,
      default: 0
    },
    maxLength: {
      type: Number,
      default: 255
    },
    minValue: {
      type: Number,
      default: 0
    },
    maxValue: {
      type: Number,
      default: 255
    },
    value: {
      type: String,
      default: null
    },
    inline: {
      type: Boolean,
      default: false
    },
    error: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    flexDirection(): string {
      return this.inline ? "flex-row" : "flex-col";
    },
    width(): string {
      return this.inline ? "w-20" : "self-stretch";
    },
    errorBorder(): string {
      return this.error ? "border-danger" : "border-dark";
    },
    errorText(): string {
      return this.error ? "text-danger" : "text-dark";
    }
  },

  methods: {
    inputHandler(e: Event) {
      const target = e.target as HTMLInputElement;
      this.$emit("input", target.value + "");
    }
  }
});
</script>

<style></style>
