<template>
  <div class="m-5">
    <div class="pl-1">
      <tab-header
        tabindex="0"
        v-for="tab in tabs"
        :key="tab"
        :tab="tab"
        :active="currentTab === tab"
        @click.native="currentTab = tab"
      />
    </div>
    <keep-alive>
      <component
        :is="currentTabComponent"
        class="section-background shadow-inner rounded p-5"
      />
    </keep-alive>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import TabUser from "./TabUser.vue";
import TabCreations from "./TabCreations.vue";
import TabLikes from "./TabLikes.vue";
import TabHeader from "./TabHeader.vue";

export default Vue.extend({
  components: {
    TabLikes,
    TabCreations,
    TabHeader,
    TabUser
  },

  data() {
    return {
      currentTab: "Creations",
      tabs: ["User", "Likes", "Creations"]
    };
  },

  computed: {
    currentTabComponent(): string {
      return "Tab" + this.currentTab;
    },
    index(): number {
      return this.tabs.indexOf(this.currentTab);
    }
  }
});
</script>

<style></style>
