<template>
  <div class="p-16 flex flex-wrap-reverse items-center justify-around">
    <table itemscope itemtype="https://schema.org/Person">
      <tr>
        <td>Pseudo :</td>
        <td itemprop="name">{{ user.username }}</td>
      </tr>
      <tr v-if="user.email">
        <td>Email :</td>
        <td itemprop="email">{{ user.email }}</td>
      </tr>
      <tr>
        <td>Rejoint le :</td>
        <td>
          <time :datetime="user.join_date">{{ joinDate }}</time>
        </td>
      </tr>
      <tr>
        <td
          itemprop="interactionStatistic"
          itemscope
          itemtype="https://schema.org/InteractionCounter"
        >
          <meta
            itemprop="interactionType"
            content="https://schema.org/LikeAction"
          />
          <meta itemprop="userInteractionCount" :content="user.pix_points" />
          Points Pix :
        </td>
        <td>
          {{ user.pix_points }}
          <tooltip class="font-normal">
            <template v-slot:trigger>
              <i class="fas fa-question-circle"></i>
            </template>
            <h6 class="text-lg font-bold text-center mb-2">Points Pix ?</h6>
            <p>
              Chaque fois qu'un autre utilisateur
              <i class="fas fa-heart text-danger"></i> ou
              <strong>télécharge</strong> l'un de vos logos, vous gagnez des
              <strong>Points Pix</strong> !
            </p>
          </tooltip>
        </td>
      </tr>
    </table>

    <div
      class="w-48 h-48 border-4 border-dark text-dark rounded-full
      bg-gradient-to-tr from-primary to-blue-500 shadow-lg
      flex items-center justify-center"
    >
      <span class="font-serif text-8xl font-bold">{{ avatar }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

// import { User } from "@/assets/User";
import Tooltip from "@/components/Tooltip.vue";

export default Vue.extend({
  name: "TabUser",

  components: {
    Tooltip
  },

  data() {
    return { user: this.$store.state.profil.user };
  },

  computed: {
    joinDate(): string {
      return new Date(this.user.join_date).toLocaleDateString();
    },
    avatar(): string {
      // TODO Avatar
      return this.user.username.charAt(0).toUpperCase();
    }
  },

  watch: {
    "$store.state.profil.user.id"() {
      this.user = this.$store.state.profil.user;
    }
  }
});
</script>

<style scoped>
td:last-child {
  @apply font-bold;
  @apply pt-8;
  @apply pl-8;
}
tr:not(:last-child) {
  @apply border-b;
  @apply border-dark;
}
</style>
