<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- <meta name="robots" content="index,follow" /> -->
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="Pixit, LE site de dessin et de partage d'images en ligne !">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Pixit">
  <meta name="twitter:description" content="Pixit, LE site de dessin et de partage d'images en ligne !">
  <meta name="twitter:image" content="./ms-icon-310x310.png">

  <!-- Open Graph -->
  <meta property="og:title" content="Pixit" />
  <meta property="og:type" content="website" />
  <!-- <meta property="og:url" content="http://www.example.com/" /> -->
  <meta property="og:image" content="./ms-icon-310x310.png" />
  <meta property="og:description" content="Pixit, LE site de dessin et de partage d'images en ligne !" />
  <meta property="og:site_name" content="Pixit" />

  <link rel="apple-touch-icon" sizes="57x57" href="<%= BASE_URL %>apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= BASE_URL %>apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= BASE_URL %>apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= BASE_URL %>apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= BASE_URL %>apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= BASE_URL %>android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= BASE_URL %>favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png">
  <link rel="manifest" href="<%= BASE_URL %>manifest.json">
  <meta name="msapplication-TileColor" content="#00bbf9">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#00bbf9">

</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <script src="https://kit.fontawesome.com/911c7c96b8.js" crossorigin="anonymous"></script>
  <!-- built files will be auto injected -->
</body>

</html>