<template>
  <circle
    :cx="cx"
    :cy="cy"
    :r="radius"
    :fill="fillColor"
    :stroke="strokeColor"
    :stroke-width="strokeWidth"
  ></circle>
</template>

<script lang="ts">
import Vue from "vue";

import BaseShape from "./BaseShape.vue";
import Point from "@/assets/Point";

export default Vue.extend({
  mixins: [BaseShape],

  name: "CircleShape",

  props: {
    center: { type: Point, default: null },
    radius: { type: Number, default: 0 }
  },

  computed: {
    cx(): number {
      if (this.center) return this.center.x;
      else return 0;
    },
    cy(): number {
      if (this.center) return this.center.y;
      else return 0;
    }
  }
});
</script>

<style></style>
