<template>
  <rect
    :width="width"
    :height="height"
    :x="originX"
    :y="originY"
    :fill="fillColor"
    :stroke="strokeColor"
    :stroke-width="strokeWidth"
  ></rect>
</template>

<script lang="ts">
import Vue from "vue";

import BaseShape from "./BaseShape.vue";

export default Vue.extend({
  mixins: [BaseShape],

  name: "RectangleShape",

  props: {
    height: { type: Number, default: 0 },
    width: { type: Number, default: 0 },
    originX: { type: Number, default: 0 },
    originY: { type: Number, default: 0 }
  }
});
</script>

<style></style>
