<template>
  <div class="flex flex-wrap justify-around">
    <section
      class="max-w-xl flex flex-col items-center pt-4 sm:pb-16 shadow-inner section-background mb-1 rounded-lg"
    >
      <h3>Images récentes</h3>
      <div class="flex flex-wrap justify-around items-center">
        <image-component
          v-for="(image, index) in recentImages"
          :key="'recent-' + index"
          v-bind="image"
        />
      </div>
      <a class="text-lg my-5" v-if="recentHasMore" @click="loadMoreRecent">
        Voir plus...
      </a>
    </section>

    <section
      class="max-w-xl flex flex-col items-center pt-4 sm:pb-16 shadow-inner section-background mb-1 rounded-lg"
    >
      <h3>Images populaires</h3>
      <div class="flex flex-wrap justify-around items-center">
        <image-component
          v-for="(image, index) in popularImages"
          :key="'popular-' + index"
          v-bind="image"
        />
      </div>
      <a class="text-lg my-5" v-if="popularHasMore" @click="loadMorePopular">
        Voir plus...
      </a>
    </section>

    <section
      class="max-w-xl flex flex-col items-center pt-4 sm:pb-16 shadow-inner section-background mb-1 rounded-lg"
    >
      <h3>Créateurs populaires</h3>
      <ol class="list-decimal list-inside pt-4">
        <li
          class="px-4 font-bold"
          v-for="(name, index) in creators"
          :key="'creator-' + index"
        >
          <router-link
            itemprop="author"
            class="font-bold text-primary"
            :to="'/profil/' + encodeURIComponent(name)"
            @click.native="toggleModal"
          >
            {{ name }}
          </router-link>
        </li>
      </ol>

      <a class="text-lg my-5" v-if="creatorsHasMore" @click="loadMoreCreators">
        Voir plus...
      </a>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import ImageService from "@/services/image.service";
import UserService from "@/services/user.service";
import Image from "@/assets/Image";
import ImageComponent from "@/components/images/Image.vue";

interface DataInterface {
  recentImages: Image[];
  popularImages: Image[];
  creators: string[];
  recentHasMore: boolean;
  popularHasMore: boolean;
  creatorsHasMore: boolean;
}

export default Vue.extend({
  name: "Accueil",

  components: {
    ImageComponent
  },

  data(): DataInterface {
    return {
      recentImages: [],
      popularImages: [],
      creators: [],
      recentHasMore: true,
      popularHasMore: true,
      creatorsHasMore: true
    };
  },

  async mounted() {
    let response = await ImageService.getRecentPublicImages();
    this.recentImages = response.data;
    response = await ImageService.getPopularPublicImages();
    this.popularImages = response.data;
    response = await UserService.getPopularCreators();
    this.creators = (response.data as { username: string }[]).map(
      creator => creator.username
    );
  },

  methods: {
    async loadMoreRecent() {
      const response = await ImageService.getRecentPublicImages(
        this.recentImages.length
      );
      const imagesToAdd = response.data;
      if (imagesToAdd.length > 0)
        this.recentImages = this.recentImages.concat(...imagesToAdd);
      else this.recentHasMore = false;
    },

    async loadMorePopular() {
      const response = await ImageService.getPopularPublicImages(
        this.popularImages.length
      );
      const imagesToAdd = response.data;
      if (imagesToAdd.length > 0)
        this.popularImages = this.popularImages.concat(...imagesToAdd);
      else this.popularHasMore = false;
    },

    async loadMoreCreators() {
      const response = await UserService.getPopularCreators(
        this.creators.length
      );
      const creatorsToAdd = response.data;
      if (creatorsToAdd.length > 0)
        this.creators = this.creators.concat(...creatorsToAdd);
      else this.creatorsHasMore = false;
    }
  }
});
</script>
