<template>
  <div class="flex flex-col items-center p-8">
    <h2>Connexion</h2>
    <form
      class="flex flex-col items-center p-4"
      @submit.prevent="submitHandler"
      ref="form"
    >
      <input-text name="pseudo" :required="true" :autofocus="true">
        Pseudo
      </input-text>

      <input-text :required="true" type="password" name="password">
        Mot de passe
      </input-text>

      <button-component type="submit">Envoyer</button-component>
    </form>

    <div>
      Pas encore de compte ?
      <router-link
        to="/inscription"
        class="text-primary transition hover:text-blue-500 hover:bold hover:pointer ml-2"
        >Inscrivez-vous</router-link
      >
    </div>

    <div
      class="bg-danger text-white italic rounded p-3 mt-5 text-lg"
      v-if="message"
    >
      {{ message }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import { UserCreate } from "@/assets/User";
import ButtonComponent from "@/components/form/ButtonComponent.vue";
import InputText from "@/components/form/InputText.vue";

const Connexion = Vue.extend({
  name: "Connexion",
  components: {
    ButtonComponent,
    InputText
  },

  data() {
    return {
      user: new UserCreate(),
      message: ""
    };
  },

  computed: {
    loggedIn() {
      return this.$store.state.auth.loggedIn;
    },
    loginExpired() {
      return this.$store.state.auth.expired;
    }
  },

  mounted() {
    if (this.loggedIn) {
      // connecté, mais expiré
      if (this.loginExpired)
        this.message = "Votre session a expirée. Veuillez vous reconnecter.";
      // redirection si déjà connecté
      else this.$router.replace("/profil");
    }
  },

  methods: {
    submitHandler() {
      const username = (document.getElementById("pseudo") as HTMLInputElement)
        .value;
      const password = (document.getElementById("password") as HTMLInputElement)
        .value;

      this.user.username = username;
      this.user.password = password;

      // envoi des identifiants & récupération du token
      this.$store
        .dispatch("auth/login", this.user)
        .then(() => {
          this.$router.push("/profil");
        })
        .catch(error => {
          if (error.response) this.message = error.response.data.detail;
          else console.error(error);
        });
    }
  }
});
export default Connexion;
</script>
