<template>
  <div class="sm:-my-14 sm:flex sm:justify-evenly">
    <!-- controls -->
    <section
      class="shadow-inner section-background rounded-lg min-w-0 sm:h-screen flex sm:flex-col place-items-center justify-evenly md:justify-start flex-wrap p-2 sm:pr-32 md:pt-8 md:pr-16"
    >
      <!-- titles -->
      <h3 v-if="$route.params.id">Image n°{{ $route.params.id }}</h3>
      <h2 class="sm:hidden md:block md:mb-8">Editeur</h2>

      <!-- general controls -->
      <!-- <div class="flex sm:flex-col items-center justify-around flex-wrap"> -->
      <button-component
        :disabled="isDrawing || isEmpty"
        @click.native="toggleSaveModal"
      >
        <i class="fas fa-save"></i>
        <span class="ml-1 hidden md:inline">Sauvegarder</span>
      </button-component>
      <button-component
        :disabled="isDrawing || isEmpty"
        theme="danger"
        @click.native="clearHandler"
      >
        <i class="fas fa-trash"></i>
        <span class="ml-1 hidden md:inline">Effacer</span>
      </button-component>
      <!-- </div> -->

      <!-- history -->
      <!-- <div class="flex sm:flex-col items-center justify-around flex-wrap"> -->
      <button-component
        theme="secondary"
        :disabled="!undoable"
        @click.native="undoHandler"
      >
        <i class="fas fa-undo-alt"></i>
      </button-component>
      <button-component
        theme="secondary"
        :disabled="!redoable"
        @click.native="redoHandler"
      >
        <i class="fas fa-redo-alt"></i>
      </button-component>
      <!-- </div> -->

      <!-- settings -->
      <div class="flex sm:flex-col items-center justify-around flex-wrap">
        <button-component theme="secondary" @click.native="toggleFillModal">
          <i class="fa-lg fas fa-fill-drip mx-1 text-dark"></i>
          <span
            class="inline-block rounded-md w-6 h-6 border-2 border-dark"
            :style="'background:' + fill"
          ></span>
        </button-component>
        <modal v-if="fillModalOpen" @modalToggle="toggleFillModal">
          <template v-slot:header>
            <color-picker v-model="fillColor" class="m-5" />
          </template>
        </modal>

        <button-component theme="secondary" @click.native="toggleStrokeModal">
          <i class="fa-lg fas fa-paint-brush mx-1 text-dark"></i>
          <span
            class="inline-block rounded-md w-6 h-6 border-2 border-dark"
            :style="'background:' + stroke"
          ></span>
        </button-component>
        <modal v-if="strokeModalOpen" @modalToggle="toggleStrokeModal">
          <template v-slot:header>
            <color-picker v-model="strokeColor" class="m-5" />
          </template>
        </modal>

        <input-text
          name="stroke-width"
          type="number"
          :inline="true"
          v-model="strokeWidth"
        >
          <i class="fas fa-arrows-alt-v"></i>
        </input-text>
      </div>

      <!-- shapes -->
      <div class="flex sm:flex-col items-center justify-around flex-wrap">
        <button-component
          v-for="(shape, index) in shapeTypes"
          :key="'control-' + shape"
          theme="secondary"
          :disabled="isDrawing"
          :class="{ ring: shapeType === shape }"
          @click.native="shapeType = shape"
        >
          <span v-html="shapeIcons[index]"></span>
        </button-component>
      </div>
    </section>

    <!-- canvas de dessin -->
    <canvas-component ref="canvas" />

    <!-- modal de sauvegarde -->
    <modal v-if="saveModalOpen" @modalToggle="toggleSaveModal">
      <template v-slot:header>
        <h3 class="font-semibold text-xl">Sauvegarde</h3>
      </template>

      <form class="flex flex-col items-center justify-around">
        <input-text
          name="title"
          :required="true"
          :autofocus="true"
          :error="error"
          :max-length="32"
          @click.native="error = false"
        >
          Titre
        </input-text>

        <p v-if="error" class="-mt-2 text-danger italic">
          {{ errorMessage }}
        </p>

        <div
          v-if="loggedIn"
          class="my-2 focus-within:text-primary flex justify-end items-center"
        >
          <label for="public" class="text-right">
            Le rendre visible <br />
            aux autres utilisateurs ?
          </label>
          <input
            class="ml-6"
            type="checkbox"
            name="public"
            id="public"
            checked
          />
        </div>

        <div class="my-2 flex flex-wrap items-center justify-center">
          <button-component
            class="inline"
            theme="secondary"
            @click.native="downloadHandler"
          >
            <i class="fas fa-download"></i> Télécharger
          </button-component>

          <button-component
            v-if="loggedIn"
            class="inline"
            @click.native="saveHandler"
          >
            <i class="fas fa-save mr-1"></i> Sauvegarder
          </button-component>
        </div>
      </form>
    </modal>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";

import Image from "@/assets/Image";
import authHeader from "@/services/auth-header";
import { shapeTypes, shapeIcons } from "@/assets/Shape";
import { initialFillColor } from "@/store/typing";
import { API_URL } from "@/services/api";

import CanvasComponent, {
  CanvasRef
} from "@/components/images/CanvasComponent.vue";
import Modal from "@/components/Modal.vue";
import ButtonComponent from "@/components/form/ButtonComponent.vue";
import InputText from "@/components/form/InputText.vue";
import { Chrome } from "vue-color";

interface DataInterface {
  saveModalOpen: boolean;
  fillModalOpen: boolean;
  strokeModalOpen: boolean;
  image: Image;
  shapeTypes: typeof shapeTypes;
  shapeIcons: typeof shapeIcons;
  error: boolean;
  errorMessage: string;
}

const Editeur = Vue.extend({
  components: {
    CanvasComponent,
    Modal,
    ButtonComponent,
    InputText,
    "color-picker": Chrome
  },

  data(): DataInterface {
    return {
      // toggle various modals
      saveModalOpen: false,
      fillModalOpen: false,
      strokeModalOpen: false,
      // controls
      shapeTypes,
      shapeIcons,
      // image modal
      image: new Image(),
      // error handling
      error: false,
      errorMessage: ""
    };
  },

  computed: {
    loggedIn(): boolean {
      return this.$store.state.auth.loggedIn;
    },
    canvasComponent(): CanvasRef {
      return this.$refs.canvas as CanvasRef;
    },
    errorClass(): string {
      return this.error ? "border-danger" : "";
    },
    isDrawing(): boolean {
      return this.$store.state.editeur.isDrawing;
    },
    isEmpty(): boolean {
      return this.$store.state.editeur.shapes.length === 0;
    },

    fill(): string {
      return this.$store.state.editeur.fillColor.hex8;
    },
    stroke(): string {
      return this.$store.state.editeur.strokeColor.hex8;
    },

    shapeType: {
      get(): boolean {
        return this.$store.state.editeur.shapeType;
      },
      set(value: boolean) {
        this.$store.dispatch("editeur/setShapeType", value);
      }
    },

    strokeColor: {
      get(): typeof initialFillColor {
        return this.$store.state.editeur.strokeColor;
      },
      set(value: typeof initialFillColor) {
        this.$store.commit("editeur/setStrokeColor", value);
      }
    },

    fillColor: {
      get(): typeof initialFillColor {
        return this.$store.state.editeur.fillColor;
      },
      set(value: typeof initialFillColor) {
        this.$store.commit("editeur/setFillColor", value);
      }
    },

    strokeWidth: {
      get(): string {
        return this.$store.state.editeur.strokeWidth;
      },
      set(value: string) {
        this.$store.commit("editeur/setStrokeWidth", value);
      }
    },

    undoable(): boolean {
      return this.$store.state.editeur.historyIndex >= 0;
    },

    redoable(): boolean {
      return (
        !this.isDrawing &&
        this.$store.state.editeur.historyIndex <
          this.$store.state.editeur.history.length - 1
      );
    }
  },

  created() {
    this.$store.commit("editeur/new");
  },

  methods: {
    toggleSaveModal() {
      this.saveModalOpen = !this.saveModalOpen;
    },
    toggleFillModal() {
      this.fillModalOpen = !this.fillModalOpen;
    },
    toggleStrokeModal() {
      this.strokeModalOpen = !this.strokeModalOpen;
    },

    clearHandler() {
      this.$store.dispatch("editeur/clear");
    },

    undoHandler() {
      this.$store.dispatch("editeur/undo");
    },

    redoHandler() {
      this.$store.dispatch("editeur/redo");
    },

    downloadHandler() {
      this.readSvgContent();

      if (!this.error) {
        // browser -> download file
        const link = document.createElement("a");
        link.download = this.image.title + ".svg";
        link.href =
          "data:image/svg+xml;charset=utf-8," +
          encodeURIComponent(this.image.data);
        link.click();

        // toggle modal
        this.toggleSaveModal();
      }
    },

    saveHandler() {
      this.readSvgContent();

      if (!this.error) {
        // send image to back if authenticated
        axios
          .post(API_URL + "/api/images", this.image, {
            headers: authHeader()
          })
          .then(() => {
            this.toggleSaveModal();
            this.$store.dispatch("flash/flash", "Sauvegarde réussie ✔️");
          })
          .catch(error => {
            this.error = true;
            this.errorMessage = "Sauvegarde échouée.";
            console.error("sauvegarde échouée : ", error);
          });
      }
    },

    readSvgContent() {
      // check title has input
      const titleInput = document.getElementById("title") as HTMLInputElement;

      if (titleInput.value.trim() === "") {
        titleInput.classList.add("border-red-500");
        this.error = true;
        this.errorMessage = "Il faut entrer un titre.";
        return;
      }

      const canvas = this.canvasComponent.canvas;

      if (canvas === null) {
        this.error = true;
        this.errorMessage = "Erreur de lecture de l'image.";
        return;
      }

      const svgContent = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 ${canvas?.clientWidth} ${canvas?.clientHeight}" stroke="black">
        ${canvas?.innerHTML}
        </svg>`;

      const title = titleInput.value.trim();

      const publicValue = (document.getElementById(
        "public"
      ) as HTMLInputElement)?.checked;
      this.image.public = publicValue;
      this.image.title = title;
      this.image.data = svgContent;

      this.error = false;
      this.errorMessage = "";
    }
  }
});
export default Editeur;
</script>
