<template>
  <div class="flex flex-col items-center">
    <h2>Inscription</h2>
    <form
      class="flex flex-col items-center p-8"
      @submit.prevent="submitHandler"
      ref="form"
    >
      <input-text
        type="email"
        name="email"
        :max-length="255"
        :required="true"
        :autofocus="true"
      >
        Email
      </input-text>

      <input-text
        name="username"
        :min-length="3"
        :max-length="32"
        :required="true"
      >
        Pseudo
      </input-text>

      <input-text
        type="password"
        name="password"
        :min-length="4"
        :required="true"
      >
        Mot de passe
      </input-text>

      <input-text type="password" name="password-confirm" :required="true">
        Confirmation du mot de passe
      </input-text>

      <div class="my-2 focus-within:text-primary">
        <label for="cgu">Accepter les conditions générales d'utilisation</label>
        <input
          class="border border-dark focus:border-primary ml-2"
          type="checkbox"
          name="cgu"
          id="cgu"
          required
        />
      </div>

      <button-component type="submit">Envoyer</button-component>
    </form>

    <div
      class="bg-danger text-white italic rounded p-3 mt-5 text-lg"
      v-if="message"
    >
      {{ message }}
    </div>

    <div class="sm:pb-16">
      Déjà un compte ?
      <router-link to="/connexion" class="ml-2">Connectez-vous</router-link>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import { UserCreate } from "@/assets/User";
import ButtonComponent from "@/components/form/ButtonComponent.vue";
import InputText from "@/components/form/InputText.vue";

const Inscription = Vue.extend({
  components: {
    ButtonComponent,
    InputText
  },

  data() {
    return {
      user: new UserCreate(),
      message: ""
    };
  },

  computed: {
    loggedIn() {
      return this.$store.state.auth.loggedIn;
    }
  },

  // redirection si déjà connecté
  created() {
    if (this.loggedIn) this.$router.push("/profil");
  },

  methods: {
    submitHandler() {
      // validation
      let error = false;
      const username = document.getElementById("username") as HTMLInputElement;
      const email = document.getElementById("email") as HTMLInputElement;
      const password = document.getElementById("password") as HTMLInputElement;
      const passwordConfirm = document.getElementById(
        "password-confirm"
      ) as HTMLInputElement;

      if (password.value !== passwordConfirm.value) {
        error = true;
        password.classList.add("bg-danger");
        passwordConfirm.classList.add("bg-danger");
      }

      if (!error) {
        password.classList.remove("bg-danger");
        passwordConfirm.classList.remove("bg-danger");

        // inscription
        this.user.username = username.value;
        this.user.password = password.value;
        this.user.email = email.value;

        this.$store
          .dispatch("auth/register", this.user)
          .then(() => {
            this.$router.push("/connexion");
          })
          .catch(error => (this.message = error.response.data.detail));
      }
    }
  }
});
export default Inscription;
</script>
