<template>
  <nav
    class="sticky mb-5 sm:mb-10 top-0 p-2 sm:p-0 bg-dark text-white shadow flex sm:justify-center items-center"
  >
    <!-- links left -->
    <div class="flex justify-around order-2 sm:order-1">
      <nav-link path="/" icon-class="fa-home">
        Accueil
      </nav-link>
      <nav-link path="/editeur" icon-class="fa-paint-brush">
        Editeur
      </nav-link>
    </div>
    <!-- logo -->
    <div
      class="sm:relative sm:-bottom-7 order-1 sm:order-2 flex items-center rounded-full sm:shadow-inner sm:p-2 sm:bg-light h-16 w-16 lg:h-20 lg:w-20"
    >
      <logo class="h-fit w-full rounded-full bg-dark" />
    </div>
    <!-- links right -->
    <div class="flex justify-around items-center order-3">
      <!-- <nav-link path="/boutique" icon-class="fa-shopping-cart">
        Boutique
      </nav-link> -->
      <nav-link
        v-if="!loggedIn || loginExpired"
        path="/connexion"
        icon-class="fa-sign-in-alt"
      >
        Connexion
      </nav-link>
      <nav-link v-if="!loggedIn" path="/inscription" icon-class="fa-user-plus">
        Inscription
      </nav-link>
      <nav-link
        v-if="loggedIn && !loginExpired"
        path="/profil"
        icon-class="fa-user"
      >
        Profil
        <span class="-m-2 text-sm">({{ currentUser.username }})</span>
      </nav-link>
      <nav-link
        path=""
        v-if="loggedIn"
        icon-class="fa-sign-out-alt"
        @click.native="logout"
      >
        Déconnexion
      </nav-link>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from "vue";

import Logo from "@/components/images/Logo.vue";
import NavLink from "./NavLink.vue";

export default Vue.extend({
  name: "Navbar",
  components: {
    Logo,
    NavLink
  },

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },

    loggedIn() {
      return this.$store.state.auth.loggedIn;
    },
    loginExpired() {
      return this.$store.state.auth.expired;
    }
  },

  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
      this.$store.dispatch("cache/clearLikes");
      this.$router.push("/connexion"); // TODO push("/")
    }
  }
});
</script>
