<template>
  <p
    v-if="$store.state.flash.show"
    class="absolute bottom-12 p-2 rounded bg-success shadow select-none flash"
  >
    {{ $store.state.flash.message }}
  </p>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "FlashMessage"
});
</script>

<style scoped>
.flash {
  animation-name: flashAnim;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes flashAnim {
  from {
    opacity: 0;
    transform: translate(-100%);
  }
  to {
    opacity: 1;
    transform: translate(1rem);
  }
}
</style>
