<template>
  <transition name="fade">
    <div
      class="modal fixed inset-0 bg-dark bg-opacity-75 items-center flex justify-center"
      @click.self="toggleSelf"
    >
      <!-- modal content -->
      <div
        class="bg-light text-dark px-5 rounded max-h-wide"
        :class="wideClass"
      >
        <!-- header -->
        <div class="flex justify-between items-center">
          <h5>
            <slot name="header"></slot>
          </h5>
          <button-component
            theme="secondary"
            :rounded="true"
            @click.native="toggleSelf"
            class="py-1 px-3 mr-0"
          >
            <i class="fas fa-times"></i>
          </button-component>
        </div>
        <!-- content -->
        <div>
          <slot></slot>
        </div>
        <!-- footer -->
        <div class="flex flex-wrap justify-around sm:justify-end">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import Vue from "vue";

import ButtonComponent from "@/components/form/ButtonComponent.vue";

export default Vue.extend({
  name: "Modal",

  components: {
    ButtonComponent
  },

  props: {
    wide: { type: Boolean, default: false }
  },

  computed: {
    wideClass() {
      return {
        "w-wide": this.wide
      };
    }
  },

  methods: {
    toggleSelf() {
      this.$emit("modalToggle");
    }
  }
});
</script>

<style>
.fade-leave-active {
  transition: 0.2s;
}
.fade-leave-active {
  opacity: 0;
}
.modal {
  animation: fadeIn 0.2s;
  z-index: 5;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
