<template>
  <span class="relative">
    <span
      class="cursor-pointer"
      @mouseenter="show"
      @mouseleave="hide"
      @click="toggleVisible"
    >
      <slot name="trigger"></slot>
    </span>
    <transition name="fade">
      <div
        :class="{
          'modal w-half max-w-xs bg-dark bg-opacity-75 text-white p-5 rounded-lg absolute': true,
          'tooltip-top': top,
          hidden: !visible
        }"
        @click="toggleVisible"
      >
        <slot></slot>
      </div>
    </transition>
  </span>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "Tooltip",

  props: {
    top: {
      type: Boolean,
      default: true
    }
  },

  data() {
    return {
      visible: false
    };
  },

  methods: {
    show() {
      this.visible = true;
    },
    hide() {
      this.visible = false;
    },
    toggleVisible() {
      this.visible = !this.visible;
    }
  }
});
</script>

<style scoped>
.tooltip-top {
  bottom: 100%;
}
</style>
