<template>
  <div
    id="app"
    class="bg-light text-dark h-full min-h-screen overflow-x-hidden"
  >
    <header>
      <navbar />
    </header>
    <main class="relative mb-5">
      <h1
        class="text-6xl font-bold font-serif text-center sm:-mt-9 lg:-mt-8 mb-8 sm:pr-4 lg:pr-5 hidden sm:block"
      >
        P<span class="text-primary">i</span>x<span class="text-primary">i</span
        >t
      </h1>
      <transition :name="transitionName">
        <router-view class="absolute inset-0 sm:top-24" />
      </transition>
    </main>
    <footer
      class="fixed bottom-0 p-1 inset-x-0 invisible md:visible bg-dark text-white shadow text-center"
    >
      Créé par <a href="https://juliesouchet.online">Julie Souchet</a>
    </footer>

    <flash-message />
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs";
import Vue from "vue";
import { Route } from "vue-router";

import Navbar from "./components/navbar/Navbar.vue";
import FlashMessage from "@/components/FlashMessage.vue";

const App = Vue.extend({
  components: {
    FlashMessage,
    Navbar
  },

  data() {
    return {
      transitionName: "slideLeft"
    };
  },

  created() {
    const accessToken = localStorage.getItem("access_token");
    const expire = localStorage.getItem("expire_date");
    if (expire && accessToken) {
      const expireDate = dayjs(expire);
      if (expireDate.isAfter(dayjs()))
        // trouvé un token non périmé en localStorage
        this.$store.dispatch("auth/loginFromToken", accessToken);
      else
        console.warn(
          expireDate.toString() +
            " < " +
            dayjs().toString() +
            " >> token périmé"
        );
    }
  },

  watch: {
    $route(to: Route, from: Route) {
      // transitions
      if (to.meta.index > from.meta.index) this.transitionName = "slideLeft";
      else if (to.meta.index < from.meta.index)
        this.transitionName = "slideRight";

      // session périmée ?
      if (to.name !== "Connexion" && this.$store.state.auth.loggedIn) {
        const expire = localStorage.getItem("expire_date");
        if (expire) {
          const expireDate = dayjs(expire);
          // la session a expirée !
          if (expireDate.isBefore(dayjs())) {
            this.$store.commit("auth/loginExpired");
            this.$router.replace({ name: "Connexion" });
          }
        }
      }
    }
  }
});
export default App;
</script>

<style>
a:not(.navlink) {
  @apply text-primary;
  @apply transition;
  @apply cursor-pointer;
  /* c'est correct, ignorer l'erreur */
  @apply hover:text-blue-500;
}

h2 {
  @apply text-3xl;
  @apply font-bold;
  @apply text-center;
  @apply capitalize;
}
h3 {
  @apply text-2xl;
  @apply font-bold;
  @apply text-center;
  @apply capitalize;
}

.section-background {
  @apply border-t-4;
  @apply border-b-4;
  @apply border-dark;
  @apply bg-blue-50;
}

/* Transitions */
.slideLeft-enter-active,
.slideLeft-leave-active,
.slideRight-enter-active,
.slideRight-leave-active,
.slideUp-enter-active,
.slideUp-leave-active,
.slideDown-enter-active,
.slideDown-leave-active {
  transition: 0.5s;
}
.slideLeft-enter,
.slideRight-leave-to {
  transform: translateX(100%);
}
.slideLeft-leave-to,
.slideRight-enter {
  transform: translateX(-100%);
}
.slideUp-enter,
.slideDown-leave-to {
  transform: translateY(100%);
}
.slideUp-leave-to,
.slideDown-enter {
  transform: translateY(-100%);
}
.slideLeft-leave-active,
.slideLeft-enter,
.slideRight-leave-active,
.slideRight-enter,
.slideUp-leave-active,
.slideUp-enter,
.slideDown-leave-active,
.slideDown-enter {
  opacity: 0;
}
</style>
